.root {
    -fx-font-family: 'Merriweather';
    -fx-font-size: 14px;
    -fx-background-color: white;
}

.button {
  -fx-font-family: 'Merriweather';
      -fx-background-color: lightgray;
      -fx-text-fill: black;
      -fx-font-size: 14px;
      -fx-min-width: 30px;
      -fx-min-height: 30px; /* Make the button 30px */
      -fx-pref-height: 30px;
      -fx-alignment: center;
      -fx-margin: 10px; /* Add spacing between buttons */
}
#buttonBGM {
    -fx-background-color: white;
}
.button:hover {
   -fx-background-color: gray;
       -fx-text-fill: white;
       -fx-font-size: 16px;
       -fx-min-width: 40px;
          -fx-min-height: 35px; /* Make the button 40px when hovered */
          -fx-pref-height: 35px;
       -fx-alignment: center;
}

.label {
    -fx-text-fill: black;
    -fx-font-size: 17px;
}